@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;500&family=Oswald:wght@200;300;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Acier'; /* Define un nombre para usarlo después */
  src: url('../public/acierfont/acierdisplay-solid-TRIAL-BF640163e9e508d.otf'); /* Ubicación del archivo de la fuente */
  font-style: normal;
  font-weight: 400; /* O el peso que corresponda */
}
body {
  overflow-x: hidden;
  /* display: flex; */

  font-family: 'Oswald', 'Lemonada', 'Acier';
  /* min-width: 100vw; */
  /* max-width: 100vw; */
  margin: 0;
  padding: 0;
  /* max-width: 100vw !important; */
}
h1 {
  line-height: 70%;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Acier';
}
img {
  height: auto;
}
h2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  /* line-height: 80%; */
  /* padding-left: 15px; */
  position: relative;
  transition: color 0.375s cubic-bezier(0.16, 1, 0.3, 1);
  letter-spacing: -1.1px;
  font-weight: 300;
  /* font-size: clamp(16px, 10.7vw, 56px); */
  white-space: nowrap;
}
h3 {
  text-transform: uppercase;
}
h4 {
  text-transform: uppercase;
  font-size: 1.3rem;
}
a {
  /* cursor: pointer; */
  text-decoration: none;
  color: unset;
  /* text-transform: uppercase; */
}
p {
  font-size: 1rem;
  max-width: 90%;
  font-weight: 200;
  text-transform: uppercase;
}
@media (max-width: 668px) and (max-width: 992px) {
  h2 {
    line-height: 80%;
    letter-spacing: -0.1em;
    font-size: 1.5rem !important;
  }
  p {
    word-wrap: break-word;
  }
}

a {
  text-decoration: none;
}

.text-slide-container {
  display: grid;
  margin: -10rem 0;
  border-top: 1px solid;
  overflow-x: hidden;
}

/* --------------------------PROJECTS CARRUSSEL--------------------------------------- */

.slideTitle {
  font-weight: bold;
  font-size: 60px;
  font-kerning: 1em;
}

.homeTitles {
  position: absolute;
  top: 30%;
  left: 100px;
  max-width: 100%;
  height: 150px;
  color: #fff;
  z-index: 100;
  background: transparent;
}
.homeTitles h2,
.homeTitles p,
.homeTitles a {
  color: #fff;
}

@media (max-width: 992px) {
  .homeTitles {
    left: 40px;
  }
  .slideTitle {
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    font-kerning: 1em;
  }
}

/* Pantallas pequeñas */
@media (max-width: 576px) {
  /* Estilos a aplicar en pantallas pequeñas */

  h1 {
    font-size: 5rem;
  }
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .containerHeader {
    height: 30vh;
    margin: 0 !important;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }
  .based-in {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .containerArrow {
    margin-top: 2em !important;
  }
  .list h1 {
    font-size: 8rem !important;
    letter-spacing: -3px !important;
  }
  .imageContainer.firstImage img {
    transform: translate(34%, 67%) !important;
    width: 64% !important;
    max-width: 80% !important;
  }

  .imageContainer.secondImage img {
    transform: translate(3%, 65%) !important;
    max-width: 100% !important;
  }
  .imageContainer.thirdImage img {
    transform: translate(38%, 70%) !important;
    max-width: 90% !important;
    width: 64% !important;
  }
}

/* Pantallas medianas */
@media (max-width: 843px) {
  .containerHeader h1 {
    font-size: 5rem !important;
    letter-spacing: -3px !important;
  }
  .list h1 {
    letter-spacing: 3px !important;
  }
  /* Estilos a aplicar en pantallas medianas */
}

/* Pantallas grandes */
@media (min-width: 993px) {
  /* Estilos a aplicar en pantallas grandes */
}

/* Pantallas en orientación vertical */
@media (orientation: portrait) {
  /* Estilos a aplicar en pantallas en orientación vertical */
}

/* Pantallas en orientación horizontal */
@media (orientation: landscape) {
  /* Estilos a aplicar en pantallas en orientación horizontal */
}

/* .fill {
  text-align: center;
  background-color: transparent;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #333;
  position: relative;
}
.fill::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-fill-color: #ff5722;
  width: 0;
  overflow: hidden;
  transition: 0.2s;
}
.fill:hover::after {
  width: 100%;
} */

/* cursor animation */
/* 
.hiddenSection {
  height: 100vh;
  border-top: solid 1px black;
  overflow: hidden;
  cursor: none;
}
.cursor {
  position: fixed;
  background-color: #e6a1af;
  opacity: 90%;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: multiply;
} */

.hand-pointing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 5rem;
}
