@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;500&family=Oswald:wght@200;300;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Acier'; /* Define un nombre para usarlo después */
  src: url('../public/acierfont/acierdisplay-solid-TRIAL-BF640163e9e508d.otf'); /* Ubicación del archivo de la fuente */
  font-style: normal;
  font-weight: 400; /* O el peso que corresponda */
}
body {
  overflow-x: hidden;
  /* display: flex; */
  text-transform: uppercase;
  font-family: 'Oswald', 'Lemonada', 'Acier';
  /* min-width: 100vw; */
  /* max-width: 100vw; */
  margin: 0;
  padding: 0;
  font-size: 80%;
  /* max-width: 100vw !important; */
}
h1 {
  line-height: 70%;
  letter-spacing: -0.2rem;
  font-weight: 600;
  font-family: 'Acier';
  cursor: default;
}

h2 {
  font-size: 2.9em;
  font-weight: 700;
  text-transform: uppercase;
  /* transition: color 0.375s cubic-bezier(0.16, 1, 0.3, 1); */
  letter-spacing: -1.1px;
  font-weight: 300;
  white-space: nowrap;
  cursor: default;
}

h4 {
  font-size: 1.3em;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
  text-decoration: none;
}
p {
  font-size: 1.5em;
  max-width: 90%;
  font-weight: 200;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.headerSectionsText h1 {
  font-size: 13rem;
}

@media (max-width: 668px) and (min-width: 992px) {
  h2 {
    line-height: 80%;
    letter-spacing: -0.1em;
    font-size: 1.5rem !important;
  }
  p {
    word-wrap: break-word;
  }

  .spansAnimationSlide > span {
    padding: 0 5vw;
    max-width: 100%;
    margin: 0;
  }
}

.text-slide-container {
  display: grid;
  margin: -10rem 0;
  border-top: 1px solid;
  overflow-x: hidden;
}

.containerCarrousel {
  font-size: 0.5em;
  height: 50%;
  object-fit: fill;
}
.containerCarrousel img {
  min-height: 100vh;
}

/* Pantallas pequeñas */

/* Pantallas medianas */
@media screen and (max-width: 668px) {
  .containerHeader div h1 {
    font-size: 6rem !important;
    margin-top: -3px;
    min-width: 100vw;
    width: 100vw;
    line-height: 80% !important;
    height: 120%;
    letter-spacing: 1px !important;
    word-break: keep-all;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-align: justify;
  }
  .containerHeader {
    margin-top: 3rem;
  }
  .list h1 {
    letter-spacing: 3px !important;
  }

  h1 {
    font-size: 5rem;
    word-wrap: break-word;
  }
  body {
    max-width: 100vw;
  }
  .containerHeader .sectionHeroSpanAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .containerHeader .headerSectionsText h1 {
    line-height: 1em;
    letter-spacing: -1.4px;
    white-space: break-spaces;
  }
  .containerHeader h1 {
    display: block;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }

  .list h1 {
    font-size: 8rem !important;
    letter-spacing: -3px !important;
  }
}

/* Pantallas grandes */
@media (min-width: 993px) {
  /* Estilos a aplicar en pantallas grandes */
}

/* Pantallas en orientación vertical */
@media (orientation: portrait) {
  /* Estilos a aplicar en pantallas en orientación vertical */
}

/* Pantallas en orientación horizontal */
@media (orientation: landscape) {
  /* Estilos a aplicar en pantallas en orientación horizontal */
}

.hand-pointing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 5rem;
}

.slideTitle {
  font-weight: bold;
  font-size: 60px;
  font-kerning: 1em;
}

.homeTitles {
  position: absolute;
  top: 30%;
  left: 100px;
  max-width: 100%;
  height: 150px;
  color: #fff;
  z-index: 100;
  background: transparent;
}
.homeTitles h2,
.homeTitles p,
.homeTitles a {
  color: #fff;
}

@media (max-width: 992px) {
  .homeTitles {
    left: 40px;
  }
  .slideTitle {
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    font-kerning: 1em;
  }
}
